<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Unsplash Semantic API Work Blog</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/index.css" as="style">
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <h3>Weekly Progress and Goal-Setting: Keeping our Project on Track</h3>
    <p>At the beginning of each week, we take some time to reflect on the progress we've made so far and set new goals for the upcoming days. We then work tirelessly throughout the week to accomplish those goals, whether it's through conducting research, writing code, or collaborating with other members of the team. As we complete each task, we make sure to document our progress in our blog so that our readers can see the progress we're making. Each article provides a detailed overview of the work we've done, as well as any challenges we may have faced and how we overcame them. We also include additional resources for readers who want to learn more about the topic. By keeping a thorough and transparent record of our work, we hope to provide valuable insights to anyone who is interested in our project.</p>
  </main>
</body>
</html>
